.navbar {
  background: red !important;
}

.border-green {
  border-bottom: 5px solid #00946b;
}

.border-custom {
  border-top: 5px solid #00946b !important;
}

.rounded-search {
  border-radius: 25px !important;
}

.project-card {
  color: #333;
  text-decoration: none;
}

.project-card:hover {
  text-decoration: none !important;
  color: #333;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

body {
  background: #efefef !important;
}

.is-complete {
  text-decoration: line-through;
}

.navbar-left {
  width: 40px;
  height: 350px;
  background: red;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
}
.navbar-left a {
  color: white;
}
.navbar-left a :hover {
  color: green;
}

.profile-image {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  background: red;
}

.form-control:focus {
  box-shadow: none;
}

/*# sourceMappingURL=app.new.css.map */
